<% if @surveys.any?() %>
<ul class="list-group">
  <% @surveys.each() do |survey| %>
  <li class="list-group-item"><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
  <% end %>
</ul>
<% else %>
<h3>There are no surveys. Why don't you <a href="/surveys/new">add one</a>?</h3>
<% end %>
