<html>
<head>
  <title>CK Surveys</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  <div class='container'>
    <h1><a href="/">CK Surveys</a></h1>
    <%= yield %>

  </div>
</body>
</html>
