<div class="row">
  <div class="col-sm-9">
    <% if @surveys.any?() %>
    <ul class="list-group">
      <% @surveys.each() do |survey| %>
      <li class="list-group-item"><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
      <% end %>
    </ul>
    <% else %>
    <h3>There are no surveys.</h3>
    <% end %>
  </div>
  <div class="col-sm-3">
    <h3>Add a new survey:</h3>
    <form action="/surveys/new" method="post">
      <label for="title">Survey Title</label>
      <input type="text" name="title">

      <button type="submit" class="btn btn-primary btn-sm">Add Survey</button>
    </form>
  </div>
</div>
